@import url(https://unknown-clan.github.io/src/main.css);
@import url(https://unknown-clan.github.io/src/header.css);

:root {
  --c-bg-color: rgb(49, 49, 49);
  --c-bg-color2: rgb(70, 70, 70);
}

#header {
  background-color: var(--c-bg-color);
}

#header a:hover {
  background-color: var(--c-bg-color2);
}

#header a.creator {
  background-color: var(--c-bg-color2);
  border-radius: 0px;
}

#header a.creator:hover {
  border-top-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

div#main {
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    304deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(40, 40, 40, 0.1) 100%
  );
  pointer-events: none;
}

/* h1.title {
  color: white;
  text-align: center;
  margin: 50px;
  text-shadow: 2px 2px 2px gray;
} */

p.p {
  color: white;
  text-align: center;
  font-size: 120%;
}

p.p .creator {
  background-color: gray;
  color: white;
  text-decoration: none;
  font-size: 120%;
}

p.p .creator:hover {
  box-shadow: 0px 0px 0px 1px gray;
  background-color: rgb(63, 94, 185);
}

div#credits {
  position: absolute;
  left: 10%;
  margin-top: 100vh;
  background-color: var(--c-bg-color2);
  width: 80%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

div#credits h1 {
  color: white;
  margin: 20px;
}

div#credits p {
  color: white;
  margin-bottom: 10px;
}

p.welcomeText {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 5px 0.5px gray;
  zoom: 1.5;
  padding: 10px 40px;
}
